* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

body {
 background: #ff5047;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.category {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-right: 150px;
}

.logoImg {
  width: 300px;
  padding-top: 20px;
  padding-left: 40px;
}

.nav-menu {
  color: white;
}

.arrow-category {
  padding-left: 5px ;
}

.main-container {
  background-color: white;
  border: 4px solid transparent;
  border-radius: 20px;
  width: 30%;
  margin-bottom: 20px
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  color: white;

}

.cards {
  border: 2px solid white;
  background: white;
  color: black;
  border-radius: 20px;
}

.cards-title {
  background: white;
}

.cards-category {
  background: white;
}

.cards-img {
  background: white;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.description-film {
  margin-left: 10px;
}

.cards-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards-category {
  font-size: 0.8em;
}


.description-likes {
  display: flex;
}

.description-likes:hover {
  cursor: pointer;
}

.icon-like {
  color: green;
}

.setup-likes {
  display: flex;
  align-items: center;
  color: green;
}

.likes {
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}



.dislikes {
  margin-left: 5px;
  color: black;
}

.setup-dislikes {
  display: flex;
  align-items: center;
  color: red;
}

.delete-btn {
  font-size: 2em;
}

.delete-btn:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}


.social {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  border-top: 3px solid white;
}

.social-icon {
  color: white;
}
.border-icon {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column ;
    align-items: center;
  }

  .main-container {
    width: 50%;
    height: 25%;
  }
}

@media screen and (max-width: 550px ) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .logoImg {
    padding-top: 30px;
    padding-left: 10px;
  }

  .category {
    margin-top: 20px;
    margin-right: 50px;
    padding: 0px;
  }
  
  .category {
    margin-left: 70px;
  }
  .container {
    display: flex;
    align-items: center;

  }
  .main-container {
    width: 300px;
    height: 50%;
  }
}

